<div id="bluetext">
    <text id="Intro">A long time ago at a vacation destination far,
        far away...</text>
</div>

<div class="flex-container">
    <div class="flex-child">
        <p id="bandbutton" style="font-family:Starwars; color:yellow">Click Me</p>
        <a class="Bandchoice" href="/lowres">
            <figure class="image is-128x128">
                <img src="/img/r2pixel.png">
                <p id="bandbutton">Low Resolution For Slow Connections</p>
        </a>
    </div>
    <div class="flex-child2 is-align-self-center">
        <figure id="image" class="image1">
            <img src="/img/LOGO3.png">
        </figure>
    </div>
    <div class="flex-child">
        <p id="bandbutton" style="font-family:Starwars; color:yellow">Click Me</p>
        <a class="Bandchoice" href="/highres">
            <figure id="image2" class="image is-128x128">
                <img src="/img/r2pixelRE.png">
                <p id="bandbutton">High Resolution For Fast Connections</p>
        </a>
    </div>
</div>

