<!-- ================ -->
<!--        NavBar -->
<!-- =================== -->
<nav class="navbar p-2" role="navigation" aria-label="main navigation">
    
    <div class="navbar-brand">
        <a class="navbar-item" href="/lowres">
        {{#if loggedIn}}
            <h1 class="title is-4">Welcome {{username}}: High</h1>
            {{else}}
            <h1 class="title is-4">Setting: High</h1>
            {{/if}}
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start"></div>
        <div class="navbar-end">
            {{#if loggedIn}}
            <a id="search" class="navbar-item" href="/api/post/Site">Saved Sites</a>
            <a id="search" class="navbar-item" href="/script">Search</a>
            <a id="logout" class="navbar-item" href="/">Logout</a>
            {{else}}
            {{!-- <a id="search" class="navbar-item" href="/script">Search</a> --}}
            <a id="login" onclick="openMore(1)" class="navbar-item">Login</a>
        
            {{!-- Called onclick function to open modal can be done with buttons as well --}}
            <a id="signup" onclick="openMore(0)" class="navbar-item">Signup</a>   
             {{/if}}
        </div>
    </div>
</nav>
<div class="responsive-google-slides">
    <iframe
        src="https://docs.google.com/presentation/d/e/2PACX-1vRnxMpVbaigiMLSd4-t_G2bkqWeG66FCozVXWk6C5-_VvDQ3Vjel0x6e3081_ogqHpeLB1q5bquZ5Tt/embed?start=true&loop=true&delayms=2000&rm=minimal"></iframe>
</div>
{{>mainvid}}